<!DOCTYPE html>
<!--хоршим тоном(DRY) является использовать один base.HТМL с БЛОКАМИ,
 а потом его расширять в наследумьіх HTML pages-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Base title {% endblock %}</title>
{% block style %}
    <style>
            .right_navbar {
                text-align:right;
                padding-right: 1em;
            }
    .index_info {
        width:800px;
        margin:auto;
     }
    </style>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
{% endblock %}
</head>

{% include 'navbar.html' %}

<body>
{% block body %}
<div class="container mt-5 detail-info">
{{ index_page_welcome_data }}
</div>
{% endblock %}
</body>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</html>





