{% extends 'base.html'%}

{% block title %} List of Pokemons {% endblock %}

{% block style %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
<style>
    .link-style {
        color:black;
    }
    .link-style:hover {
        color:gray;
    }
</style><!--# text-decoration:none;  - erase underlining word in url value-->
{% endblock %}


{% block body %}
<div class="container mt-4"> <!--container is class of bootstrap and if it does work it means what bootstrap is connected ond also worked correctly-->
    <h1>Welcome to page of Pokemons list</h1>
    <br>
    <p1>Here my variable in loop for:</p1>
        {% for pokemon in list_of_pokes %}
            <italic><a class="badge rounded-pill bg-success" href="{% url 'pokemon_detail' pokemon.slug %}">Show info {{pokemon.name}}</a>
        </italic><!--        'pokemon_detail' - дергаем ручке в urls; pokemon.slug и pokemon.name приходит из Вью  -->

    {% endfor %}
    <p1>Here changed color of link by styles</p1>


</div>
{% endblock %}


