<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">poke-api</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">

        {% if request.user.is_authenticated %}

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle pl-5" href="{% url 'list_pokes_page' %}" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            My Cabinet
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">My pokemons</a></li>
            <li><a class="dropdown-item" href="{% url 'list_pokes_page' %}">See all pokemons</a></li>
              <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{% url 'password-change' %}">Change password</a></li>

          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Welcome, {{request.user.username}}</a>
            {#  request.user.username - into django we have special way to dress to user #}
        </li>
        <li class="nav-item dropdown mx-4">
          <a class="nav-link dropdown-toggle ml-3" href="#" id="navbarAPIDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Api
          </a>

          <ul class="dropdown-menu" aria-labelledby="navbarAPIDropdown">
            <li><a class="dropdown-item" href="#">Get my pokemons</a></li>
            <li><a class="dropdown-item" href="{% url 'list_pokes_page' %}">Get all pokemons</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">Logout</a>
        </li>
        {% else %}

        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}">Login</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'register_user' %}">Register</a>
        </li>

        {% endif %}
      </ul>
    </div>
  </div>
</nav>